* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #ecec7e;
    transition: all 0.3s ease-in-out;
}

body {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, #272146, #0d091f);
}

header{
    height: 8vh;
    position: sticky;
    top: 0;
    z-index: 100;
}

.ul-nav {
    display: flex;
    justify-content: center;
}

.ul-nav li {
    list-style: none;
}

.ul-nav li a {
    padding: 1.2em 1.5em;
    font-size: 1.1em;
    line-height: 8vh;
    text-decoration: none;
}

.ul-nav li a:hover {
    background-color: #3c355f;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9em 0;
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 830px){
    section{
        width: 90%;
    }
}


#seccion-bienvenida {
    text-align: center;
}

#seccion-bienvenida h1{
    font-size: 4.5em;
    padding-top: 8vh;
    user-select: none;
}

#seccion-bienvenida p{
    font-size: 1.5em;
    font-weight: 400;
    user-select: none;
}

#seccion-bienvenida div {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#seccion-bienvenida figure figcaption {
    color: #675f8f;
    font-weight: bold;
}

#seccion-bienvenida div img {
    margin-top: 9em;
    width: 3em;
    height: 3em;
    filter: drop-shadow(0 0 0.625em #0b0425);
}

#seccion-bienvenida div img:hover {
    filter: drop-shadow(0 0 0.8px #af883e);
    transform: translateY(-10px) scale(1.2);
}

a{
    text-decoration: none;
}

h2 {
    font-size: 2.15em;
    padding-bottom: 1.3em;
    user-select: none;
}

.tecnologias{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,6.2em);
    grid-template-rows: repeat(2,7.5em);
    justify-content: space-around;
    gap: 1.5em;
}

.tecnologias img {
    width: 7em;
    height: 7em;
}

.img-php {
    width: 7em;
    height: 5em !important;
    margin-top: 1em;
}

.img-mysql {
    width: 7em;
    height: 4.5em !important;
    margin-top: 1.25em;
}

.tecnologias img:hover{
    transform: scale(1.4);
    transition-duration: 0.3s;
    filter: drop-shadow(0 0 0.425em #f3d08e);
}

.proyectos {
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 105%;
    margin-left: -2.5%;
}

.proyecto {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875em;
    justify-content: space-around;
    background-color: #17132b;
    padding: 0.9em;
    border-radius: 1em;
    text-align: center;
    min-height: 23em;
    width: 24.5em;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

.proyecto:hover {
    transform: translateY(-6px);
    filter: drop-shadow(0 0 0.8px #58379f);
}

.div-datos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.tecnologias-usadas {
    margin-bottom: 20px;
}

.titulo-proyecto {
    color: #cbc9db;
    font-size: 2em;
    font-weight: 400;
    user-select: none;
}

.img, video{
    opacity: 1;
    height: 13em;
    width: 24em;
    background-color: lightblue;
    border: 3px solid #211c3b;
    margin-bottom: 10px;
}

.img:hover{
    opacity: 0.6;
}

.ver-desc {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-top: 10px;
    text-decoration: none;

}

.descripcion {
    color: #d4d48f;
    text-align: center;
    font-size: 1.1em;
    padding: 0px 8px;
}

.estilo-p {
    display: flex;
    align-items: center;
}

.tecnologias-usadas {
    display: flex;
    justify-content: center;
    gap: 0.6em;
}

.tecnologias-usadas div {
    display: flex;
    align-items: center;
}

.tecnologias-usadas img {
    height: 2em;
    width: 2em;
}

.img-php-icon {
    width: 2em;
    height: 1.3em !important;
    margin-right: 4px;
}

.tecnologias-usadas span {
    font-size: 0.8em;
    color: #d4d48f;
    user-select: none;
}

.enlaces-proyecto {
    display: flex;
    padding: 0 1em;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
}

.codigo-proyecto:hover, .pagina-proyecto:hover {
    background-color: #655f8a;
    transform: scale(1.06);
}

.codigo-proyecto {
    background-color: #3e385f;
    border-radius: 50%;
    cursor: pointer;
    width: 2.3em;
    height: 2.3em;
    padding: 0.2em;
    margin-right: 0.3em;
}

.codigo-proyecto img {
    height: 2.3em;
    width: 2.3em;
}

.pagina-proyecto {
    background-color: #3e385f;
    border: none;
    border-radius: 1.25em;
    cursor: pointer;
    width: 9em;
}

.proyecto a {
    text-decoration: none;
    line-height: 2.3em;
    padding: 0.2em;
    color: #fff;
    font-weight: 600;
}

.sobreMi-container {
    display: flex;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
}

.foto-perfil:hover {
    transform: scale(1.12);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.sobreMi-texto {
  max-width: 600px;
  flex: 1;
}

#seccion-sobreMi p {
    color: #dada98;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.3em;
    padding-left: 1.25em;
    line-height: 1.4;
}

#seccion-contacto {
    padding-bottom: 15em;
    padding-top: 11em;
}

#formulario {
    background-color: #1e1e1e;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
}

.form-titulo {
    text-align: center;
    color: #dbaf2c;
    font-size: 2rem;
}

label {
    font-size: 1rem;
    margin-bottom: 6px;
    display: block;
    color: #A5A5A5;
}

input, textarea {
    width: 96.5%;
    padding: 8px 0;
    padding-left: 3.5%;
    margin-bottom: 20px;
    background-color: #2a2a2a;
    border: 1px solid #333;
    border-radius: 6px;
    color: #EAEAEA;
    font-size: 1rem;
}

input::placeholder, textarea::placeholder {
    color: #777;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input:focus, textarea:focus {
    outline: none;
    border-color: #a7841a;
    background-color: #262626;
}

textarea {
    resize: vertical;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #dbaf2c;
    color: #121212;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #e4bb3d;
    transform: scale(0.97);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-contenido {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

#modal-titulo {
    color: #dbaf2c;
    font-size: 2rem;
    margin-bottom: -15px;
}

#modal-parrafo {
    color: #666;
    font-size: 1rem;
}


.colorNav {
    background-color: #3f385e;
}

.fondoNav {
    background-color: #0a0811a4;
}

.underline {
    text-decoration: none;
}

.underline:hover {
    cursor: pointer;
    transform: scale(1.08);
    filter: drop-shadow(0 0 0.4px #000000);
    font-weight: 600;
}

.ocultar{
    display: none;
}