* {
    margin: 0;
    padding: 0;
    font-family: Onest Variable, system-ui, sans-serif;
    color: #ecec7e;
}

body {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, #272146, #0d091f);
}

header{
    height: 8vh;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    padding: 1.1em 1.5em;
    font-size: 1.1em;
    line-height: 8vh;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #3c355f;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7em 0;
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 830px){
    section{
        width: 90%;
    }
}


#seccion-bienvenida {
    text-align: center;
}

#seccion-bienvenida h1{
    font-size: 4.5em;
    padding-top: 8vh;
}

#seccion-bienvenida p{
    font-size: 1.5em;
    font-weight: 400;
}

#seccion-bienvenida div {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#seccion-bienvenida figure figcaption {
    color: #675f8f;
    font-weight: bold;
}

#seccion-bienvenida div img {
    margin-top: 9em;
    width: 3em;
    height: 3em;
    filter: drop-shadow(0 0 0.625em #0b0425);
}

#seccion-bienvenida div img:hover {
    filter: drop-shadow(0 0 0.8px #f3d08e);
}

a{
    text-decoration: none;
}

h2 {
    font-size: 2.15em;
    padding-bottom: 1.3em;
}

.tecnologias{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,6.2em);
    grid-template-rows: repeat(2,7.5em);
    justify-content: space-around;
    gap: 1.5em;
}

.tecnologias img {
    width: 7em;
    height: 7em;
}

.tecnologias img:hover{
    transform: scale(1.4,1.4);
    transition-duration: 0.3s;
    filter: drop-shadow(0 0 0.625em #f3d08e);
}

.proyectos {
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 105%;
    margin-left: -2.5%;
}

.proyecto {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875em;
    justify-content: space-around;
    background-color: #17132b;
    padding: 0.9em;
    border-radius: 1em;
    text-align: center;
    min-height: 23em;
    width: 24.5em;
    box-shadow: 0 0  0.938em 0.063em #332c57;
}

.proyecto .div-datos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.tecnologias-usadas {
    margin-bottom: 20px;
}

.proyecto h3 {
    color: #cbc9db;
    font-size: 2.2em;
    font-weight: 400;
}

.img, video{
    opacity: 1;
    height: 13em;
    width: 24em;
    background-color: lightblue;
    border: 3px solid #211c3b;
    margin-bottom: 10px;
}

.img:hover{
    opacity: 0.6;
}

.ver-desc {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.descripcion {
    color: #d4d48f;
    text-align: left;
    font-size: 1.1em;
    padding: 0px 8px;
}

.estilo-p {
    display: flex;
    align-items: center;
}

.tecnologias-usadas {
    display: flex;
    justify-content: center;
    gap: 0.6em;
}


.tecnologias-usadas div {
    display: flex;
    align-items: center;
}

.tecnologias-usadas img {
    height: 2em;
    width: 2em;
}

.tecnologias-usadas span {
    font-size: 0.8em;
    color: #d4d48f;
    user-select: none;
}

.enlaces-proyecto {
    display: flex;
    padding: 0 1em;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
}

.codigo-proyecto:hover, .pagina-proyecto:hover {
    background-color: #655f8a;
}

.codigo-proyecto {
    background-color: #3e385f;
    border-radius: 50%;
    cursor: pointer;
    width: 2.3em;
    height: 2.3em;
    padding: 0.2em;
    margin-right: 0.3em;
}

.codigo-proyecto img {
    height: 2.3em;
    width: 2.3em;
}

.proyecto a {
    text-decoration: none;
    line-height: 2.3em;
    padding: 0.2em;
    color: #fff;
    font-weight: 600;
}

.pagina-proyecto {
    background-color: #3e385f;
    border: none;
    border-radius: 1.25em;
    cursor: pointer;
    width: 9em;
}

#seccion-sobreMi p {
    color: #dada98;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.3em;
    padding-left: 1.25em;
    line-height: 1.4;
}

#seccion-contacto {
    padding-bottom: 15em;
    padding-top: 11em;
}

.contacto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.contacto a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contacto a:hover {
    filter: drop-shadow(0 0px 0.313em #976a99);
}

.contacto img {
    width: 2.5em;
    height: 2.5em;
    padding-right: 0.62em;
}

.colorNav {
    background-color: #3f385e;
}

.fondoNav {
    background-color: #18142950;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0 150px -160px 150px;
}

footer span, footer a{
    color: #c1c1c5e6;
}

.underline {
    text-decoration: none;
}

.underline:hover {
    cursor: pointer;
    text-decoration: underline;
}



.ocultar{
    display: none;
}